!!!
%html
  %head
    #{include_gon}
    %script{:type=>'text/javascript', :src=>'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'}
    %script{:type=>'text/javascript', :src=>'http://code.highcharts.com/highcharts.js'}
    -#%script{:type=>'text/javascript', :src=>'http://code.highcharts.com/stock/highstock.js'}
    %script{:type=>'text/javascript', :src=>'javascripts/daily_returns_chart.js'}
    %script{:type=>'text/javascript', :src=>'javascripts/cumulative_daily_returns_chart.js'}
    %script{:type=>'text/javascript', :src=>'javascripts/libs/jquery.tablesorter.js'}
    %script{:type=>'text/javascript', :src=>'javascripts/libs/chosen.jquery.min.js'}
    %script{:type=>'text/javascript', :src=>'javascripts/libs/underscore.min.js'}
    %script{:type=>'text/javascript', :src=>'javascripts/summary_table.js'}
    %link{:rel=>"stylesheet", :href=>'stylesheets/tablesorter-themes/blue/style.css', :type=>"text/css", :media=>"print, projection, screen"}
    %link{:rel=>"stylesheet", :href=>"stylesheets/chosen.css?#{Time.now.to_i}", :type=>"text/css", :media=>"print, projection, screen"}
  %body
    %h1 Santander Rio Funds
    %a{:href => 'http://www.santanderrio.com.ar/individuos/inversiones_fondos.jsp', :target => '_blank'} More info
    %h2 Filters
    %form{:class=>"form-horizontal", :action => 'filter', :method => 'post'}
      %select{:name => 'filter_by_asset_names[]', :id=>"asset-filter", :'data-placeholder'=>"Select an asset...", :class=>"input-large chzn-select", :multiple=> true}
        -Asset.all_symbols.sort.each do |asset_name|
          - if @selected_assets.include?(asset_name)
            %option{:value=>"#{asset_name}", :selected => true}=asset_name
          - else
            %option{:value=>"#{asset_name}"}=asset_name
      %br
      %input{:type => 'checkbox', :value => true, :name => 'include_all_funds'} Include all funds
      %br
      %input{:type => 'checkbox', :value => true, :name => 'include_all_stocks'} Include all stocks
      %br
      %button{:type=>"submit", :id=>"filter-assets", :class=>"btn btn-primary pull-right"} Filtrar
    %h2 Summary
    %b Assets #:
    %span= @stats_report.count
    %br
    %b Days measured #:
    %span= @stats_report.data_points_count
    %br
    %b From:
    %span= @stats_report.from_date.strftime('%d-%m-%Y')
    %b To:
    %span= @stats_report.to_date.strftime('%d-%m-%Y')
    %b Days elapsed:
    %span= @stats_report.days_elapsed
    %br    
    %br
    %table{:id=>"summary-table", :class=>"tablesorter"}
      %thead
        %tr
          %th Fund
          %th Total Return
          %th Mean
          %th Max
          %th Min
          %th StDev
          %th Beta
          %th Sharpe
          %th Sortino
          %th 30d
          %th 60d
          %th 90d
          %th 360d
      %tbody
        - @stats_report.each do |asset|
          %tr
            %td= asset.name
            %td= percentage(asset.total_return * 100)
            %td= asset.mean
            %td= asset.max
            %td= asset.min
            %td= asset.stddev
            %td= asset.beta
            %td= asset.sharpe_ratio
            %td= asset.sortino_ratio
            %td= percentage(asset.performance_in_days(30) * 100)
            %td= percentage(asset.performance_in_days(60) * 100)
            %td= percentage(asset.performance_in_days(90) * 100)
            %td= percentage(asset.performance_in_days(360) * 100)

    %h2 Performance
    #daily_returns
    %h2 Cumulative Performance
    #cumulative_daily_returns